.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
.die{
font-size: 10em;
text-align: center;
padding: 0.25em;
color: slateblue;
}

body{
  text-align: center
}
body:button{
  background-color: black;
  color: white;
  width: 15em;
  padding: 1.5em;
  border: 0px;
  border-radius: 10px;
  margin-top:10px 
}